<div class="container-fluid">
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #495574;" data-bs-theme="dark">
        <a href="/" class="navbar-brand d-flex align-items-center text-white text-decoration-none">
            <img src="/logoProa.png" alt="Logo Proa" style="height: 30px; width: auto; border-radius: 50%; margin-right: 10px;">
            <span class="fs-4 fw-bold">Proa</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/proa">Más sobre el Proa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/estudios">Estudios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/espacios">Espacios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/noticias">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/contactos">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/nosotros">Nosotros</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
